<html>
<head>
<title>Form Login</title>
</head>
<body bgcolor="#DBEAF5">
<table width="800" border="0" align="center" cellspacing="1" cellpadding="0" bgcolor="#22B5DD">
	<tr>
		<td align="center"><b>[ HEADER ]</b></td>
	</tr>
	<td bgcolor="#DBEAF5">
		<img src="" width="300" height="80">
	</td>
</table><br>
<form action="cek_login.php" method="POST">
<link rel="stylesheet" type="text/css" href="<?php echo base_url() ?>assets/css/style.css">
<table width="350" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#CCFF66">
<tr align="left">
<th colspan="2" scope="co1">LOGIN </th>
</tr>
<tr bgcolor="#FFFFFF">
<td width="33%">Username</td>
<td width="67%">:
<input name="TxtUser" type="text" size="22" maxlength="25"></td>
</tr>
<tr bgcolor="#FFFFFF">
<td>Password</td>
<td>:
<input name="TxtPasswd" type="password" size="22" maxlength="25">
</td>
</tr>
<tr bgcolor="#FFFFFF">
<td>&nbsp;</td>
<td>
<input name="Submit" type="submit" value="Login" />
</td>
</tr>
</table>
</form>
</body>
</html>